:root {
  --background-color:#ffd732;
  --logo-saturation:100%;
}
@font-face {
  font-family: "Bookxel";
  src: url("font/bookxel.ttf");
}
.pixel-font {
	font-family:"Bookxel";
	font-size:1em;
}
html {
  scroll-behavior: smooth;
} 
.pages{
	overflow-x:scroll;
}
section:nth-child(odd) {
  background: (--background-color);
}
img {
	background: url(../favicon.ico)
}
section:nth-child(even) {
  background: transparent;
}
#banner {
  width: 100%;
  height: 60px;
  object-fit: cover;
} .me {
  border-radius: 50%;
} progress[value] {
  height: 1em;
  width: 100%;
} aside {
  background-color: whitesmoke;
  border: black 4px solid;
  border-radius: 8% 34% 21% 13%;
  box-shadow: 10px 5px 5px red;
  align-items: center;
  text-align: center;
} h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
  margin-bottom: .2em;
} h1{
  font-size: 1.8em;
  margin-top: 0;
  color: royalblue;
} h2 {
  font-size: 1.5em;
  color: darkgreen;
} h3 {
  font-size: 1.3em;
  color: darkslateblue;
} h4 {
  font-size: 1.2em;
} h5 {
  font-size: 1.1em;
  font-weight: bold;
} h6 {
  font-size: 1em;
  font-style: italic;
} ol, ul {
  padding-left: 1.631em;
} p {
  margin-top: .2em;
} @media screen and(orientation:landscape) {
  nav {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: #eeeeeecc
  }
} @media only screen and(max-width:600px) {
  header {
    margin-bottom: 1em
  }
} body {
  font-family: Tahoma, sans-serif;
  background-color: var(--background-color);
} header, main, footer {
  margin: 0 auto;
  max-width: 55em; 
}
} copyright::after {
	content:"© 2023 boukew99";
	color:#00000099;
	text-align:center;
} header::after{
  content: url('computer-wizard-media.png');
  display:block;
  filter: drop-shadow(0 0 2rem skyblue) saturate(var(--logo-saturation));
} footer, header {
  padding: .5em 1.2em .5em 1.1em;
} main header {
	font-size:1.7em;	
  padding-top: .5em;
	color:royalblue;
} footer {
  background-color: burlywood;
} footer:before {
  content: url('../favicon.ico');
  padding-right: .5em;
} main {
  background-color: beige;
  padding: .2em 1.2em .5em 1.1em;
  line-height: 1.5;
  text-align:left;
  margin-bottom:1em;
  
} dt {
  font-style: italic;
} p, textarea, {
  max-width: 34em;
} 
p::first-letter {
  font-size: 1.2em;
} .pixelzoom {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
} img {
  transition: transform .5s;
} img:hover {
  transform: scale();
} main img, iframe {
  border: 1rem solid whitesmoke;
  background-color: whitesmoke;
} img, table, video, iframe, figure, textarea {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100vh;
} table, th, td {
  border: 2px dashed;
  max-width: 100%;
  border-collapse: collapse;
} tr:nth-child(odd) {
  background: #f2f2f2;
} article {
  column-width: 500px;
} ol ol {
  list-style: upper-alpha
} ol ol ol {
  list-style: lower-roman
} ol ol ol ol {
  list-style: lower-alpha
} details *:not(summary) {
  margin-left: 1em;
} details[open]>summary:before {
  transform: rotate(90deg);
} @keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-1em))
  }
} details[open]>*:not(summary) {
  animation: details-show 150ms ease-in-out;
} new {
  background-color: #00ff0055;
  display: inline;
} old {
  background-color: orange;
  display: inline;
} fieldset label {
  display: block;
} @media(prefers-color-scheme:dark) {
  body {
    background: darkgrey
  }
  img, header {
    filter: grayscale(47%)
  }
} iframe {
  background-color: white;
} article {
	content-visibility: auto;
} pre {
  background-color: #c5ccdb;
  padding: 1em;
  tab-size: 2;
} section {
  padding: 1em;
  background-color: #c5ccdb;
} blockquote {
  max-width: 34em;
  background-color: #fff5;
  border-left: 10px solid white;
  padding: .5em;
} blockquote:before {
  content: open-quote;
} blockquote:after {
  content: close-quote;
} .recent::after {
  content: " Recent!";
  color: darkgreen;
} li a::after {
  content: ' 🔗';
} nav a::before{
  content: "🔗";
} details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
} @keyframes sweep {
  0%    {opacity: 0;margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
} .gradient div {height:200px}
a[download]::after {
  content: " 📥";
} main { 
      animation: fadeIn 2s ease-out;
    }
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    } body, header { 
      animation: displayin 2s ease-out;
    }
    @keyframes displayin {
      0% { background-color: black; }
      100% { background-color: (var(--background-color); }
    }
a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}

