td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

option {
}

/*https://moderncss.dev/custom-select-styles-with-pure-css/ S*/
select {
  height:60px;
  width:60px;
  text-align:center;
  font-size: 30px;
	background-color: transparent;
  appearance: none;
	
  border: none;
  /*
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  */
}
