<!--Comment-->
<!DOCTYPE html>
<html lang="en">
<title>Credits</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css"> 
<script defer src="script.js"></script>

<style>

body {
  background: #FCE97F;
  animation: fadeBackground 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeBackground {
  from { background-color: #FCE97F; }
  to { background-color: #2EB07B; }
}
center { 
	animation: fadeIn 4s ease-out;
	column-width:250px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
</style>

<h1>Credits</h1>
<center>


<table contenteditable >
<caption>roles</caption>
<tr>
<td>Director</td><td>Abe</td>
</tr>
<tr>
<td>Producer</td><td>Barry</td>
</tr>
<tr>
<td>Writer</td><td>Charley</td>
</tr>
<tr>
<td>Casters</td><td>Denise.<br>Erica.<br>Fiona.</td> 
</tr>
</table>

<table contenteditable >
<caption>Cast</caption>
<tr>
<td>Arnold</td><td>Abe</td>
</tr>
<tr>
<td>Ben</td><td>Barry</td>
</tr>
<tr>
<td>Charles</td><td>Charley</td>
</tr>
<tr>
<td>Wizards</td><td>Denise.<br>Erica.<br>Fiona.</td> 
</tr>
</table>

</center>
