<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/style.css">


<title>index</title>
<h1 contenteditable>Adressing Name</h1>
<p contenteditable>Describe motives</p>

<h2>Class</h2>
<label>Knight</label>
<input type=radio value="Knight">
<label>Warrior</label>
<input type=radio value="Warrior">
<label>Bowman</label>
<input type=radio value="Bowman">
<label>Mage</label>
<input type=radio value="Mage">
<label>Bard</label>
<input type=radio value="Bard">

<p>form or contenteditable?</p>
<!--<script src="script.js"></script>-->
