<!--Comment-->
<!DOCTYPE html>
<html lang="en">
<title>Table</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css"> 
<script src="script.js"></script>

<h1>Page Title</h1>

<table contenteditable>
	<caption>...</caption>
	<thead>
		<tr>
			<th>Instances Order</th>
		  <th>property A</th>
		  <th>property B</th>
		  <th>property C</th>
		  <th>...</th>
		  <th>Category</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		  <td>Instance 1</td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		</tr>
		<tr>
		  <td>Instance 2</td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		</tr>
	</tbody>
</table>
