#chessboard td {
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  user-select: none;
}
/*https://stackoverflow.com/questions/35802488/chessboard-style-for-a-table-with-css-how*/
#chessboard tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background: grey;
}
#chessboard tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: white;
}

fieldset {
	/*columns:8;*/
	column-width:5em;
}
